



body {
  font-size: 62.5%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.container {
  font-size: 2rem;
  margin: 2.5rem 0;
  background-color: peachpuff;
  background-image: url(../images/darkSoulsIII.jpg);
}

.title{
  width: 95%;
  height: auto;
  background-image:url(../images/toPissYouOff.jpg) ;
  background-size: contain;
  background-repeat: no-repeat;
}

.question-box{
  width: 85%;
  height: auto;
  background-color: lightgray;
}

.answer-box{
  width: 80%;
  height: auto;
  background-color: peachpuff;
}
